.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
    overflow-y: hidden !important;
  }
  .chart-doughnut{
     max-width: 600px;
     width: 100% !important;
  }
  .contanier-grafico-doughnut{
    width: 100%;
      border-radius:16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  #doughnut-chart{
     max-width: 500px;
  }
  body.modalOpen {
     overflow: hidden !important;
   }
  